/* google fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins','sans-serif';
}

/* set image for entire page */
body {
  background: url('../assets/images/classroom_3.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background: rgba(39,39, 39, 0.4);
}

.nav {
  position: fixed;
  top:0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(rgba(39,39,39,0.6), transparent);
  z-index: 100;
}

.nav-logo img {
  margin: 2rem;
  width: 4rem;
  height: 4rem;
}

.nav-menu ul {
  display: flex;
}

.nav-menu ul li {
  list-style-type: none;
}

.nav-menu ul li .link {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  padding-bottom: 15px;
  margin: 0 25px;
}


.link:hover,.active {
  border-bottom: 2px solid #fff;
}


.nav-button .btn {
  width: 130px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  background: rgba(255,255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
}

.btn:hover {
  background: rgba(255,255, 255, 0.3);
}

#registerBtn {
  margin-left: 15px;
}

.btn.white-btn {
  background: rgba(255,255, 255, 0.7);
}

.btn.btn.white-btn:hover {
  background: rgba(255,255, 255, 0.5);
}

.nav-menu-btn {
 display: none;
}


/* form */
.form-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 420px;
  /* border: 1px solid #fff; */
  overflow: hidden;
  z-index: 2;
}

.login-container {
  position: absolute;
  left: 4px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: .5s ease-in-out;
}

.register-container {
  position: absolute;
  right: -520px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: .5s ease-in-out;
}

.top span {
  color: #fff;
  font-size: small;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.top span a {
   font-weight: 500;
   color: #fff;
   margin-left: 5px;
}

header {
  color: #fff;
  font-size: 25px;
  text-align: center;
  padding: 10px 0 30px 0;
} 

.redirectMsg {
  font-size: 25px;
  font-weight: 500;
}

/*
.two-forms {
  display: flex;
  gap: 10px;
}
*/
.input-field {
  font-size: 18px;
  background: rgba(255,255, 255, 0.2);
  color: #fff;
  /* color: black; */
  font-weight: 500;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: .2s ease;
}

.input-field::placeholder {
  color: rgba(255,255, 255, 0.9);
}

.input-field:hover, .input-field:focus {
  background: rgba(255,255, 255, 0.25);
}

::-webkit-input-placeholder {
  color: #fff;
}

.input-box i {
  position: relative;
  top: -35px;
  left: 17px;
  font-size: 22px;
  /* color: #fff; */
  color: rgba(255,255, 255, 0.7);
}

.submit {
  font-size: 15px;
  font-weight: 500;
  color: black;
  font-size: 18px;
  font-weight: 500;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255,255, 255, 0.7);
  cursor: pointer;
  transition: .3s ease-in-out;
}

.submit:hover {
  background: rgba(255,255, 255, 0.5);
  box-shadow: 1px 5px 7px 1px rgba(255,255, 255, 0.2);
} 

.two-col {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 10px;
}

.two-col .one {
  display: flex;
  gap: 5px;
}

.two-col .one {
  font-size: 17px;
  font-weight: 500;
}

.two-col .two {
  font-size: 17px;
  font-weight: 500;
}

.two label a {
  text-decoration: none;
  color: #fff;
}

.two label a:hover {
  text-decoration: underline;
} 

/* Style the select itself */
select.input-field {
  appearance: none;            /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
  border-radius: 30px;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  transition: 0.2s ease;
  cursor: pointer;
}

/* Add hover/focus effect */
select.input-field:hover,
select.input-field:focus {
  background: rgba(255, 255, 255, 0.25);
}

/* Style the dropdown list */
select.input-field option {
  background-color: #222;     /* Dark dropdown background */
  color: #fff;                /* White text */
  border: none;
  padding: 10px;
  font-size: 15px;
}

/* Optional: Add custom dropdown arrow */
select.input-field {
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 16px;
}



/* respnsiveness */
@media only screen and (max-width: 786px) {
  .nav-button {
    display: none;
  }
  .nav-menu.responsive {
    top: 100px
  }
  
  .nav-menu {
   position: absolute;
   top: -800px;
   display: flex; 
   justify-content: center;
   background: rgba(255, 255, 255, 0.2);
   width: 100%;
   height: 90vh;
   backdrop-filter: blur(20px);
   transition: .3s;
  }

  .nav-menu ul {
    flex-direction: column;
    text-align: center;
  }

  .nav-menu-btn {
    display: block;
  }

  .nav-menu-btn i {
    font-size: 25px;
    color: #fff;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
  }

  .nav-menu-btn i:hover {
    background: rgba(255,255, 255, 0.15);
  } 
  
  .nav-logo {
  display: none;
  }
}

/* responsiveness for smaller devices */
@media only screen and (max-width: 540px) {
  .wrapper {
    min-height: 100vh;
  }
  .form-box {
    width: 100%;
    padding: 0 20px;
  }
  .register-container, .login-container {
    width: 100%;
    padding: 0 20px;
  }

  .register-container .two-forms {
    flex-direction: column;
    gap: 0;
  }
}
