/* google fonts imports */

/* https://www.ludiflex.com/how-to-create-a-website-with-modern-login-and-register-form-html-css-javascript/ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins','sans-serif';
}

body {
  background: url('/assets/images/classroom_9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background: rgba(39,39, 39, 0.4);
}

.nav {
  position: fixed;
  top:0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(rgba(39,39,39,0.6), transparent);
  z-index: 100;
}